<a class="class-link" href="<%= rootUrl %>/class/<%= cls.id %>">
    <div class="class-img-ctn">
        <img class="class-img" src="assets/images/abstract-black-n-white.jpg" alt="">
    </div>
    <div class="class-name" author-name="<%= (role == 'GV' ? user.name : cls.lecturer_name) %>"><%= cls.name %></div>
    <!-- <%= JSON.stringify(user) %>
    <%= JSON.stringify(role) %> -->
</a>