<div class="header">
    <div class="btn">
        <img src="<%= rootUrl %>/assets/images/menu.svg" alt="">
    </div>
    <div class="user">
        <div class="user-name"><%= user.name %> - <%= role %></div>
        <div class="avatar">
            <img src="<%= rootUrl %>/assets/images/avt.png" alt="avatar">
        </div>
        <div class="hidden-options">
            <a href="javascript:void(0)">Cá nhân</a>
            <a href="<%= rootUrl %>/logout">Đăng xuất</a>
        </div>
    </div>
</div>