<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="<%= rootUrl %>/assets/styles/shared-style.css">
    <link rel="stylesheet" href="<%= rootUrl %>/assets/styles/home-style.css">
    <link rel="stylesheet" href="<%= rootUrl %>/assets/styles/modal-style.css">
    <link rel="stylesheet" href="<%= rootUrl %>/assets/styles/class-view-style.css">
</head>
<body class="">

    <%- include('../common/header', { user, role }) %>

    <div class="body">
        <%- include('../common/nav', { rootUrl, listOfClasses }) %>

        <div class="main">

            <div class="ctn">
                <h2 class="class-name" members="<%= members %>"><%= className %></h2>

                <details class="big-ctn class-view-detail" open>
                    <summary><h3 class="title">TÙY CHỌN</h3></summary>
                    <div class="chooses">
                        <a onclick="editClassName()" href="javascript:void(0)" class="btn">đổi tên lớp</a>
                        <a id="manage-student" href="javascript:void(0)" class="btn">quản lý học viên</a>
                        <a href="javascript:void(0)" class="btn red">giải tán lớp</a>                        
                    </div>
                </details>
                
                <details class="big-ctn class-view-detail" open>
                    <summary><h3 class="title class-view-title">TÀI LIỆU LỚP <a id="manage-class-documents" href="javascript:void(0)" class="btn">Quản lý</a></h3></summary>
                    <div class="documents">
                        <% if (listOfAttachFile.length == 0) { %>
                            <h3 style="margin: 10px">CHƯA CÓ TÀI LIỆU NÀO</h3>
                        <% } else { %>
                            <% listOfAttachFile.forEach(({ doc_id, file_name, category_name }) => { %>
                                <a data-category-name="<%= category_name %>" target="_blank" data-file-id="<%= doc_id %>" href="<%= rootUrl %>/uploads/<%= file_name %>"><%= file_name.substring(file_name.indexOf('-') + 1) %></a>
                            <% }) %>
                        <% } %>
                    </div>
                </details>

                <details class="big-ctn class-view-detail" open>
                    <summary><h3 class="title class-view-title">BÀI TẬP LỚP <a href="javascript:void(0)" id="add-exercise" class="btn">giao bài tập</a></h3></summary>
                    <div class="exercises">

                        <% if (exercises.length == 0) { %>
                            <h3 style="margin: 10px">CHƯA CÓ BÀI TẬP NÀO</h3>
                        <% } else { %>
                            <% exercises.forEach(exercise => { %>
                                <%- include('./items/exercise-lecturer-view.ejs', { exercise, members, rootUrl }) %>
                            <% }) %>
                        <% } %>

                    </div>
                </details>

                <details class="big-ctn class-view-detail" open>
                    <summary><h3 class="title class-view-title">CÁC BUỔI HỌC TRỰC TUYẾN <a href="javascript:void(0)" id="add-meeting" class="btn">Lên lịch họp</a></h3></summary>
                    <div class="meetings">

                        <% if (meetings.length == 0) { %>
                            <h3 style="margin: 10px">CHƯA CÓ BUỔI HỌC NÀO</h3>
                        <% } else { %>
                            <% meetings.forEach(meeting => { %>
                                <%- include('./items/meeting-lecturer-view.ejs', { meeting }) %>
                            <% }) %>
                        <% } %>

                    </div>
                </details>

                <!-- <details class="big-ctn class-view-detail" open>
                    <summary><h3 class="title class-view-title">KIỂM TRA TRẮC NGHIỆM <a href="javascript:void(0)" class="btn">giao bài kiểm tra</a></h3></summary>
                    <div class="tests">
                        <details class="test">
                            <summary>
                                <h4 class="test-name">Kiểm tra giữa học phần</h4>
                                <div style="display: flex;">
                                    <div class="icon view-detail" title="Xem chi tiết" data-ex-id="ex001"><i class="fa-solid fa-eye"></i></div>
                                    <div class="icon edit" title="Sửa" data-ex-id="ex001"><i class="fas fa-edit"></i></div>
                                    <div class="icon delete" title="Xóa" data-ex-id="ex001"><i class="fa fa-trash" aria-hidden="true"></i></div>
                                </div>                                
                            </summary>
                            <p class="desc"></p>
                            <p class="limit" time="4/7/2024 - 11/7/2024"></p>
                            <p class="status" limit="40" current="26"></p>
                        </details>
                    </div>
                </details> -->

            </div>

            <div class="ctn">
                <h2 class="title ttitle">MỜI THÀNH VIÊN</h2>

                <div class="invite-container">
                    <div class="invite-header">
                        <span class="invite-status">Trạng thái mã mời:</span>
                        <label class="toggle">
                            <input type="checkbox" id="invite-toggle" <%= is_open_students ? 'checked' : ''%>>
                            <span class="toggle-slider"></span>
                        </label>
                    </div>
                    <div class="invite-link-container">
                        <input 
                            type="text" 
                            id="invite-link" 
                            value="<%= rootUrl %>/joinclass/<%= invite_code_students %>" 
                            readonly>
                        <button id="copy-button">Copy</button>
                    </div>
                </div>

                <br><br>

                <h2 class="title ttitle">CHIA NHÓM</h2>

                <details class="big-ctn">
                    <summary class="document-category big-category title group-title">
                        <h3>Chia Nhóm Nghiên Cứu</h3>
                    </summary>

                    <details class="group">
                        <summary class="document-category group-name" data-group-quantity="5" data-group-limit="10">
                            <h4>Nhóm 1</h4>
                        </summary>
                        <div class="detail list-std">
                            <span data-sid="sv000">Ngô Zero</span>
                            <span data-sid="sv001">First Lờ</span>
                            <span data-sid="sv002">Trần Second</span>
                            <span data-sid="sv003">Lên Third</span>
                            <span data-sid="sv004">Fourth Tượng</span>
                        </div>
                    </details>

                    <details class="group">
                        <summary class="document-category group-name" data-group-quantity="3" data-group-limit="10">
                            <h4>Nhóm 2</h4>
                        </summary>
                        <div class="detail list-std">
                            <span data-sid="sv005">Five Mờ</span>
                            <span data-sid="sv008">Eight Dà Da</span>
                            <span data-sid="sv009">Nine Vàng Ngơ Ngác</span>
                        </div>
                    </details>

                </details>

                <details class="big-ctn">
                    <summary class="document-category big-category title group-title">
                        <h3>Chia Nhóm Bài Tập Lớn</h3>
                    </summary>

                    <details class="group">
                        <summary class="document-category group-name" data-group-quantity="5" data-group-limit="10">
                            <h4>Nhóm 1</h4>
                        </summary>
                        <div class="detail list-std">
                            <span data-sid="nsv00">Ngô Zero</span>
                            <span data-sid="nsv00">First Lờ</span>
                            <span data-sid="nsv00">Trần Second</span>
                            <span data-sid="nsv00">Lên Third</span>
                            <span data-sid="nsv00">Fourth Tượng</span>
                        </div>
                    </details>

                    <details class="group">
                        <summary class="document-category group-name" data-group-quantity="3" data-group-limit="10">
                            <h4>Nhóm 2</h4>
                        </summary>
                        <div class="detail list-std">
                            <span data-sid="nsv00">Five Mờ</span>
                            <span data-sid="nsv00">Eight Dà Da</span>
                            <span data-sid="nsv00">Nine Vàng Ngơ Ngác</span>
                        </div>
                    </details>
                </details>

                <div class="class-manage-box">
                    <input type="text" style="visibility: hidden;">
                    <a id="new-group" href="javascript:void(0)" style="align-self: center;">+ Chia nhóm mới</a>
                </div>
            </div>
        </div>
    </div>
    
    <%- include('../common/footer') %>
    <%- include('../common/modal.ejs') %>
    
    <script src="<%= rootUrl %>/assets/scripts/shared-actions.js"></script>
    <script src="<%= rootUrl %>/assets/scripts/model/RequestHandler.class.js"></script>
    <script src="<%= rootUrl %>/assets/scripts/model/ModalContent.class.js"></script>
    <script src="<%= rootUrl %>/assets/scripts/teacher-class-page.js"></script>
</body>
</html>