<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="assets/styles/shared-style.css">
    <link rel="stylesheet" href="assets/styles/home-style.css">
</head>
<body>
    <%- include('../common/header', { user, role }) %>

    <div class="body open-side-nav">
        
        <%- include('../common/nav', { rootUrl, listOfClasses, role }) %>
        
        <div class="main main-extend">
            <div class="ctn">
                <h3 class="title">CÁC LỚP HỌC</h3>
                <input type="text" name="find-class" id="find-class" placeholder="Tìm lớp học...">

                <!-- LIST OF CLASSES HERE -->
                <div class="class-box">
                    <% listOfClasses.forEach(cls => { %>
                        <%- include('../common/class_grid_item', { rootUrl, cls, user, role }) %>
                    <% }) %>
                </div>

            </div>
        </div>
    </div>

    <%- include('../common/footer') %>
    <%- include('../common/modal.ejs') %>

    <script src="assets/scripts/model/ModalContent.class.js"></script>
    <script src="assets/scripts/shared-actions.js"></script>
    <script src="assets/scripts/student-homepage.js"></script>
</body>
</html>